<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>PadNotificationGAE</servlet-name>
		<servlet-class>com.ayaseya.padnotificationgae.PadNotificationGAEServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PadNotificationGAE</servlet-name>
		<url-pattern>/padnotificationgae</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
		
	
	<servlet>
		<servlet-name>ScheduleJsoupTask</servlet-name>
		<servlet-class>com.ayaseya.padnotificationgae.ScheduleJsoupTask</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleJsoupTask</servlet-name>
		<url-pattern>/cron/schedule</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	
	
  <listener>
    <listener-class>
      com.ayaseya.padnotificationgae.ApiKeyInitializer
    </listener-class>
  </listener>

  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>
      com.ayaseya.padnotificationgae.RegisterServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UnregisterServlet</servlet-name>
    <servlet-class>
      com.ayaseya.padnotificationgae.UnregisterServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>UnregisterServlet</servlet-name>
    <url-pattern>/unregister</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SendAllMessagesServlet</servlet-name>
    <servlet-class>
      com.ayaseya.padnotificationgae.SendAllMessagesServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>SendAllMessagesServlet</servlet-name>
    <url-pattern>/sendAll</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>
      com.ayaseya.padnotificationgae.SendMessageServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/send</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>
      com.ayaseya.padnotificationgae.HomeServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
	
	
	
</web-app>
